---
import '@/app/styles/index.scss'
import type { Locale } from '@/shared/config/i18n'

interface Props {
  locale: Locale
  title?: string
  description?: string
}

const { locale, title = 'Astro Boilerplate', description } = Astro.props
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    {description && <meta name="description" content={description} />}
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
